@import "normalizes.scss"
@import "resets.scss"

*
    box-sizing: border-box

@font-face
    font-family: "moseratT"
    src: url('../fonts/Montserrat-SemiBold.ttf')
    font-weight: 600
    font-style: normal

@font-face
    font-family: "moseratT"
    src: url('../fonts/Montserrat-Bold.ttf')
    font-weight: bold
    font-style: normal

$color-black: #262726
$color-grey: rgba(217, 217, 217, 0.10)

html
    font-family: "moseratT"
    font-weight: 600
    height: 100%

body
    height: 100%
    margin: 0
    background-repeat: no-repeat
    background-attachment: fixed
    background-size: 100%
    background-image: linear-gradient(215deg,hsl(108deg 45% 34%) 0%,hsl(96deg 21% 23%) 33%,hsl(99deg 2% 15%) 67%,hsl(120deg 2% 9%) 100%)

.container
    max-width: 1140px
    margin: 0 auto

.main-section
    position: relative
    height: auto
    padding-top: 16 px
    overflow: hidden
    margin-bottom: 71px
    &__nav-container
        display: flex
        flex-direction: row
        justify-content: space-between
        height: 126px
        align-items: center
        margin-bottom: 160px
    &__logo
        width: 143px
    &__content-container
        position: relative
        display: flex
        flex-direction: row
    &__search-zone
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
    &__title
        font-size: 48px
        color: white
        margin-bottom: 64px
    &__zone-search
        border-radius: 100px
        border: none
        width: 757px
        height: 75px
        margin-bottom: 69px
        padding: 0 50px
    &__button
        display: flex
        justify-content: center
        align-items: center
    &__buttons-add
        width: 165px
        height: 46px
        background: #262726
        color: white
        border: none
        border-radius: 10px
        font-size: 32px
        margin-right: 150px
    &__buttons-filter
        width: 165px
        height: 46px
        background: #262726
        font-size: 32px
        color: white
        border: none
        border-radius: 10px
    &__search
        position: relative
    &__search-icon
        position: absolute
        top: 18px
        left: 700px
        color: #262726

.nav-menu
    &__list
        display: flex
        align-items: center
        flex-direction: row
    &__list-item
        margin-right: 110px
        font-size: 24px
        color: white
        &:last-child
            margin-right: 0px

.recipes
    display: flex
    justify-content: center
    align-items: center
    background: $color-black
    width: 138px
    height: 31px
    outline: 1px solid white

select
    text-align-last: center
    padding-right: 0 39px

.second-section
    height: auto
    margin-left: 65px
    &__container
        border-radius: 15px
        background: rgba(217, 217, 217, 0.10)
        width: 370px
        height: auto
        display: inline-flex
        margin-bottom: 111px
        margin-right: 65px

.food-item
    display: block
    justify-content: center
    align-items: center
    text-align: center
    &__img
        margin-bottom: 10px
        border-radius: 10px
    &__title
        font-size: 36px
        font-weight: 600
        color: white
        text-align: center
        margin-bottom: 20px
    &__text
        font-size: 36px
        font-weight: 600
        color: white
        text-align: center
        margin-bottom: 31px

a
    text-decoration: none
    &:visited
        color: white

.close
    position: absolute
    top: 0
    right: 0
    font-size: 20px
    cursor: pointer

#products-container
    margin-bottom: 10px

.product-entry
    display: flex
    margin-bottom: 5px

.product, .grams
    margin-right: 5px

textarea
    width: 100%
    height: 100px

.modal
    display: none
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 70%
    max-width: 700px
    min-height: 400px
    background-color: rgba(0, 0, 0, 0.5)
    padding: 15px
    border-radius: 8px
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3)
    color: black
    &-content
        background-color: #fff
        height: auto
        padding: 20px
        border-radius: 8px
        max-width: 700px
        min-height: 400px
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3)

#closeModal
    cursor: pointer
    font-size: 25px
    color: #555
    float: right
    margin-top: -10px
    margin-right: -10px

#l-productList
    list-style: none
    margin-right: 15px
    display: inline-flex
    flex-direction: column
    flex-wrap: wrap
    margin-bottom: 20px
    align-content: space-around

#r-productList
    list-style: none
    padding: 0
    display: inline-flex
    flex-direction: column
    justify-content: center
    align-items: flex-start
    margin-bottom: 20px
    align-content: space-around

.lists
    display: block

li
    margin-bottom: 20px

.right
    width: 50px

.modalBtnAdd
    display: inline-flex
    justify-content: center
    align-items: center
    width: 100px
    height: 40px
    background: #262726
    color: white
    border: none
    border-radius: 10px
    font-size: 18px
    margin-right: 50px
.modalBtnSub
    display: inline-flex
    justify-content: center
    align-items: center
    width: 100px
    height: 40px
    background: #262726
    color: white
    border: none
    border-radius: 10px
    font-size: 18px

.modalField
    border-radius: 100px
    width: 150px
    height: 30px
    border: 0.5px solid #262726

.modalDesc
    border-radius: 10px
    min-width: 300px
    min-height: 100px
    border: 0.5px solid #262726

.mar
    margin-bottom: 20px

#add:hover
    background-color: #d6d4d43d
    cursor: pointer

#filter_list:hover
    background-color: #d6d4d43d
    cursor: pointer

#foodContainer:hover
    background-color: #d6d4d43d
    cursor: pointer

.left
    margin-right: 10px

.deleteBtn
    display: inline
    justify-content: center
    align-items: center
    text-align: center
    width: 100px
    height: 46px
    background: #262726
    color: white
    border: none
    border-radius: 10px
    font-size: 20px

.deleteBtn:hover
    background-color: #d6d4d43d
    cursor: pointer

.modal-content
    text-align: center


.modal-second
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba(0, 0, 0, 0.7)
    display: flex
    justify-content: center
    align-items: center
    z-index: 1000

.modal-content-second
    background: #fff
    padding: 20px
    border-radius: 8px
    text-align: center
    min-width: 600px

.headerModal
    color: black
    font-size: 32px
    margin-bottom: 35px

.parModal
    color: black
    font-size: 24px
    margin-bottom: 35px

.imgModal
    border-radius: 4px
    margin: 30px

.containerModal
    text-align: left

.head
    margin-bottom: 25px
    color: black
    font-size: 24px
